@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Bitter:wght@100;400&family=Raleway:ital@1&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'ubuntu', sans-serif;
}
nav ul{
    display: flex;
    list-style-type: none;
    height: 50px;
    background-color: black;
    color: white;
    align-items: center;
}
nav ul li{
    padding: 0 12px;
}
.SearchBar{
    width: 100%;
    max-width: 400px;
    background: rgba(255, 255,255,0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 5px 10px;
}
.SearchBar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 2px 20px;
    font-size: 20px;
}
::placeholder{
    color: white;
}
.SearchBar button img{
    width: 25px;
}
.SearchBar button{
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.brand {
    
    align-items: center;
    padding: 0 8px;
}
.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round',sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url(/image/background\ 2.jpg);
}

.bottom{
    position:sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
   
}
.icons{
    margin-top: 15px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    text-align: center;
    cursor: pointer;
}
/* .songlist{
    margin-bottom: 10px;
} */
.songItemContainer{
    margin-top: 74px;
    
}
.songItem{
    height: 50px;
    display: flex;
    background-color: whitesmoke;
    width: 100%;
    margin-bottom: 10px;
    color:  black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px
    
    
}
.songItem img{
    margin: 0 23px;
    border-radius: 34px;
    
}
.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 10vw;
    bottom: 2vw;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.5s ease-in;
}